body
{
	background: url(../images/login.jpg) ; 
	background-size: cover;
	font-family: sans-serif;
}
#form
{
	position: relative;
	width: 400px;
	height: 370px;
	background-color: rgba(0,0,0,0.4);
	margin: 0 auto;
	margin-top: 100px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 15px;
	
}
#header
{
	color: #00bc8c;
    text-shadow: 1px 3px 1px black, 0 0 5px #00efdf, 0 0 5px darkblue;
    text-align: center;
    margin-bottom: 20px;
}
label
{
	color: white;
}
#login
{
	margin-top: 10px;
	font-weight: bold;
	width: 340px;

}
:: placeholder
{
	color: white;
}

