body
{
	background-image: url(../images/background2.jpg) ;
	background-size: cover;
    /*background-position: center;*/
	
}
.text-center
{
	font-family: 'Montserrat', cursive;
	text-shadow: 1px 7px 1px black, 0 0 5px black; 
	font-size:90px;	
	
}
#home-page-header {
	margin-top:-25px;
	font-size:90px;
}

#tagline {
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 5px 1px black, 0 0 5px black;
	margin-top: 100px;
	
}

.panel
{	
	margin-top: -40px;
}
.panel-title
{

   font-family: 'Montserrat', cursive;
}

#displayFlight {
	margin-top:15px;
	margin-left:-15px;
}

#displayPoi {
	margin-left:9px;
}

#select
{
	margin-left: 0px;
	/*margin-top: 10px;*/
}
#tripOptionDiv
{
	position:relative;
	background-color: #303030;
	padding:10px;
	margin-top:4px;
	border:1px solid #00bc8c;
}

#trip-option-button {
	width:100%;
	background-color:#00bc8c;
	position:absolute;
	bottom:0;
	right:0;
	/*margin-top:100px;*/
	padding:2px 0px;
}

#flightDiv
{
	background-color:#464545;
	margin-top: 7px;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
}
#flightDetailDiv
{
	background-color:#464545;
	margin-top: 12px;
	color: #ffffff;
	padding:0px 15px;
}

.new-display {
	margin-top:15px;
	margin-bottom:20px;
	padding:2% 2%;
	border: 1px solid #00bc8c;
	margin-right:8px;
}
.nameDisplay {
	text-align: center;
	font-size:225%;
	color:#00bc8c;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

#get-info {
	width:100%;
}

.form-control{
 	font-size:14px;
}

#point-of-interest {
	background-color:#efefef;
	padding-top:15px;
}

#find-bg {
	background-color:#efefef;
}

#person {
	padding-top:12px;
	padding-left:15px;
}

#place {
	width:50%
}
#find-button {
	width:100%;
}

#moreInfoButton {
	width:100%;
	background-color:#00bc8c;
}

#flightSearch {
	width:100%;
}

#flight-ticket-header {
	margin-top:-21px;
	padding:0px 10px;
	text-align:center;
	background-color:#00bc8c;
}

#flight-ticket-header h2{
	margin-left:-10px;
}

#poi-header {
	margin-top:-21px;
	padding:0px 10px;
	text-align:center;
	background-color:#00bc8c;
}

#poi-header h2{
	margin-left:15px;
}

#poi-panel {
	margin-top:18px;
	border:1px solid #00bc8c;

}


/*All titles in the flight app javascript*/
#ticket-cost-header {
	color:#00bc8c;
}

#flight-duration-header {
	color:#00bc8c;
}

#flight-name-title {
	color:#00bc8c;
	margin-bottom:4px;
}

#origin-title {
	color:#00bc8c;
	margin-bottom:4px;
}

#destination-title {
	color:#00bc8c;
	margin-bottom:4px;
}

#departure-title {
	color:#00bc8c;
	margin-bottom:4px;
}

#arrival-title {
	color:#00bc8c;
	margin-bottom:4px;
}

#duration-title {
	color:#00bc8c;
	margin-bottom:4px;
}

